*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: weight 200px; ;
}

.container{
    background-image: repeating-linear-gradient(rgb(206, 206, 237),white);
}
h1{
    text-align: center;
    padding-top: 50px;
    
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

